<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magently_MyUiComponent::myproducts_main" title="My Products" module="Magently_MyUiComponent" sortOrder="51" resource="Magently_MyUiComponent::my_products"/>
        <add id="Magently_MyUiComponent::myproducts" title="My Products" module="Magently_MyUiComponent" sortOrder="10" action="my_products/index" resource="Magently_MyUiComponent::my_products" parent="Magently_MyUiComponent::myproducts_main"/>
    </menu>
</config>
